.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  height: 480px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color:#282c34;
  display: flex; /* Activa el modelo de flexbox */
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: space-between; /* Espacia los elementos: título y enlace */
}



.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movie-card h3 {
  margin: 10px 0 5px 0; /* Espaciado entre la imagen y el título */
  font-size: 16px;
  text-align: center;
}

.movie-card p {
  color: gray;
  font-size: 14px;
  margin: 5px 0 5px 0; /* Espaciado entre el título y el resto del contenido */
}

.App-header button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imdb-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto; /* Empuja el enlace hacia la parte inferior */
  padding: 10px;
}

.movie-card .imdb-logo {
  width: 50px;
  height: auto;

  transition: transform 0.2s ease;
}

.movie-card .imdb-logo:hover {
  transform: scale(1.1);
}